body {
    display: block;
}

.container {
    position: relative;
    margin-top: 15%;
}

h1 {
    margin-top: 5%;
    margin-bottom: 50px;
}

.table {
    position: relative;
    margin-top: 20px;
    left: 35.5%;
}

table, tr, td, th {
    border: 1px solid black;
}

table tr, td, th {
    background-color: aliceblue;
    padding: 5px;
}